<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
  {% include "header.njk" %}

  <main class="container">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TMT9YPYDW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
</body>
</html>
