<!-- _includes/header.html -->
<header>
  <div class="container">
    <h1><a href="{{ '/' | relative_url }}">Tuba Tech Dynamics</a></h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about/' | relative_url }}">About Us</a>
      <a href="{{ '/services/' | relative_url }}">Services</a>
      <a href="{{ '/impact/' | relative_url }}">Impact</a>
      <a href="{{ '/partnerships/' | relative_url }}">Partnerships</a>
      <a href="{{ '/contact/' | relative_url }}">Contact Us</a>
    </nav>
  </div>
</header>
